body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.adminMenuRow{
	flex-direction: row !important; 
}
.adminMenuView{
	display: block !important;
}

#landingID:hover{
	cursor: pointer;
	 font-size: 36px;
}
#div {
	float: left !important;
	width: 50%!important;
	border-style: ridge;
}
#landingID {
	/*border-style: ridge;*/
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 2s;
  transition-delay: 1s;
}